h1 {
  color: white;
  font-family: "Share Tech Mono", "Cascadia Code", Menlo, Monaco, "Courier New",
    monospace;
  font-size: 4rem;
  filter: drop-shadow(0px 0px 5px currentColor);

  &::after {
    content: "";
    display: inline-block;
    width: 0.1em;
    height: 0.1em;
    background-color: currentColor;
    margin-left: 0.1em;
    animation: blink 1s linear infinite forwards;
    vertical-align: baseline;
  }
}




